.form{
	width: 100%;
}
.form__fieldset{
    display: flex;
    align-items: center;
	margin: 25px 0;
    
    @media (--desktop-less) {
        flex-direction: column;
        align-items: flex-start;
    }
    
    &_not{
        &_margin{
            margin: 0;
        }
    }
}
.form__text{
    min-width: 150px;
    
    @media (--desktop-less) {
        margin-bottom: .5rem;
    }
    
    &__gray{
        color: #5b5b5b;
    }
}
.form__label{
	display: block;
}
.form__input{
	box-sizing: border-box;
	width: 100%;
	padding: 0px 10px;
    height: 34px;
    border: 1px solid #b5b5b5;
	background: #fff;
    
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.form__input_textarea{
	height: auto;
	padding: 10px;
	resize: vertical;
}
.form__button{
    display: inline-block;
	box-sizing: border-box;
    padding: 0 25px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: #45b172;
    color: #fff;
    cursor: pointer;
}
.form__radio{
    display: none;
}
.form__radio:not(:checked) + label{
    cursor: pointer;
}
.form__radio + label{
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    margin-right: 35px;
    
    @media (--desktop-less) {
        &:not(:first-of-type){
            margin-top: .5rem;
        }
    }
}
.form__radio + label:after{
    position: absolute;
    left: 0;
    content: "";
    width: 18px;
    min-width: 18px;
    height: 18px;
    border: 1px solid #b5b5b5;
}
.form__radio:checked + label:after{
    position: absolute;
    left: 0;
    content: "";
    width: 18px;
    min-width: 18px;
    height: 18px;
    border: 1px solid #45b172;
    background-color: #45b172;
}