<div class="appeal">
    <form action="action.php" class="form">
        <div class="appeal__body">
            <div class="appeal__title">Реализация растений оптовым покупателям</div>
            <div class="appeal__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</p>
            </div>
            <div class="appeal__form">
                <div class="appeal__cols">
                    <div class="appeal__col">
                        <div class="appeal__name">Ваше имя:</div>
                        <input type="text" class="form__input" placeholder="Иван">
                    </div>
                    <div class="appeal__col">
                        <div class="appeal__name">E-Mail:</div>
                        <input type="text" class="form__input" placeholder="ivanov_ivan@gmail.com">
                    </div>
                    <div class="appeal__col">
                        <div class="appeal__name">Телефон:</div>
                        <input type="text" class="form__input" placeholder="8 (800) 000 00 00">
                    </div>
                </div>
                <div class="appeal__message">
                        <div class="appeal__name">Сообщение:</div>
                        <textarea name="message" id="message" cols="30" rows="10" class="form__input form__input_textarea" placeholder="Ваше сообщение"></textarea>
                </div>
            </div>
        </div>
        <div class="appeal__bottom">
            <button class="form__button">Отправить обращение</button>
        </div>
    </form>
</div>