.appeal{
	
	// elements
	&__{
        &body{
            padding: 20px;
            background-color: #fff;
        }
		&title{
            color: #45b172;
            font-family: Arial;
            font-size: 18px;
            font-weight: 700;
        }
        &text{
            color: #5b5b5b;
            p{
                margin-top: 15px;
            }
        }
        &form{
            margin-top: 30px;
        }
        &cols{
            display: flex;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &col{
            
            @media (--tablet-more) {
                width: 30%;
            }
            @media (--tablet-less) {
                &:not(:first-child){
                    margin-top: .5rem;
                }
            }
        }
        &name{
            line-height: 30px;
        }
        &message{
            margin-top: 10px;
        }
        &bottom{
            margin-top: 25px;
            text-align: right;
        }
	}
}