<div class="site-info">
    <div class="site-info__item">
        <div class="site-info__icon"><i class="i-place"></i></div>
        <div class="site-info__body">
            <div class="site-info__title">МОСКОВСКАЯ ОБЛ.</div>
            <div class="site-info__text">Ногинский район, деревня <br>Кашино, 11</div>
        </div>
    </div>
    <div class="site-info__item">
        <div class="site-info__icon"><i class="i-place"></i></div>
        <div class="site-info__body">
            <div class="site-info__phone">8 (800) 000-00-00</div>
            <a href="#" class="site-info__recall">Заказать звонок</a>
        </div>
    </div>
    <div class="site-info__item">
        <div class="site-info__icon"><i class="i-place"></i></div>
        <div class="site-info__body">
            <div class="site-info__title">КОРЗИНА</div>
            <div class="site-info__cart">
                <a href="#" class="site-info__link">2 товара</a>
                 на 7500 руб.
            </div>
        </div>
    </div>
</div>