.site-info{
	display: flex;
    justify-content: flex-end;
    
    @media (--tablet-less) {
        flex-direction: column;
    }
    
	// elements
	&__{
		&item{
            display: flex;
            margin-left: 3%;
            
            @media (--tablet-less) {
                margin-top: 3%;    
            }
        }
        &icon{
            margin-right: 12px;
        }
        &title{
            white-space: nowrap;
            font-size: 18px;
            font-weight: 700;
        }
        &text{
            color: #5b5b5b;
        }
        &cart{
            color: #5b5b5b;
        }
        &phone{
            white-space: nowrap;
            font-size: 18px;
            font-weight: 700;
        }
        &link{
            text-decoration: none;
            color: #439565;
        }
        &recall{
            text-decoration: none;
            border-bottom: 1px dashed #439565;
            color: #439565;
        }
	}
}