.submenu{
    display: none;
    box-sizing: border-box;
    z-index: 9999;
	position: absolute;
    top: 100%;
    left: 0;
    column-count: 5;
    column-gap: 25px;
    padding: 25px 20px 25px 30px;
    background-color: #45b172;
    
    @media (--desktop-less) {
        display: none !important;
    }
    
	// elements
	&__{
		&link{
            display: block;
            color: #fff;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            line-height: 2.14;
        }
	}
}