<div class="submenu">
    <a href="#" class="submenu__link">Барбарис</a>
    <a href="#" class="submenu__link">Береза</a>
    <a href="#" class="submenu__link">Бересклет</a>
    <a href="#" class="submenu__link">Боярышник</a>
    <a href="#" class="submenu__link">Вейгела</a>
    <a href="#" class="submenu__link">Гортензия</a>
    <a href="#" class="submenu__link">Дерен</a>
    <a href="#" class="submenu__link">Ива</a>
    <a href="#" class="submenu__link">Каштан</a>
    <a href="#" class="submenu__link">Бузина</a>
    <a href="#" class="submenu__link">Клен</a>
    <a href="#" class="submenu__link">Лапчатка</a>
    <a href="#" class="submenu__link">Липа</a>
    <a href="#" class="submenu__link">Пузыреплодник</a>
    <a href="#" class="submenu__link">Жимолость</a>
    <a href="#" class="submenu__link">Рябина</a>
    <a href="#" class="submenu__link">Сирень</a>
    <a href="#" class="submenu__link">Калина</a>
    <a href="#" class="submenu__link">Кизильник</a>
    <a href="#" class="submenu__link">Скумпия</a>
    <a href="#" class="submenu__link">Спирея</a>
    <a href="#" class="submenu__link">Форзиция</a>
    <a href="#" class="submenu__link">Яблоня</a>
    <a href="#" class="submenu__link">Чубушник</a>
    <a href="#" class="submenu__link">Стефанандра</a>
</div>