<div class="news-page">
    <div class="news">
        <div class="news__preview"><img src=":786x310" alt=""></div>
        <div class="news__content">
            <div class="news__body">
                <div class="news__title">выбираем цветы</div>
                <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</div>
            </div>
            <div class="news__bottom">
                <div class="news__date">08.11.2015</div>
                <a href="#" class="news__link">Подробнее <i class="i-arrow-right_long_green"></i></a>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news__preview"><img src=":786x310" alt=""></div>
        <div class="news__content">
            <div class="news__body">
                <div class="news__title">выбираем цветы</div>
                <div class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna. Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit. Donec finibus, felis nec viverra ultricies, libero ex sollicitudin urna, et consequat diam magna in magna.</div>
            </div>
            <div class="news__bottom">
                <div class="news__date">08.11.2015</div>
                <a href="#" class="news__link">Подробнее <i class="i-arrow-right_long_green"></i></a>
            </div>
        </div>
    </div>
</div>