<div class="g-section nav">
    <div class="g-section__content nav__content">
        <div class="nav__city">
            <div class="nav__city__text">
            Ваш город:
            </div>
            <a href="#" class="nav__link">Санкт-Петербург</a>
        </div>
        <div class="nav__login">
            <i class="i-man nav__login__icon"></i>
            <a href="#" class="nav__link">Войти в личный кабинет</a>
        </div>
        <import module="menu-nav" class=" nav__menu"></import>
    </div>
</div>