.nav{
    padding: 7px 0;
	background-color: #292929;
    color: #fff;
    font-size: 12px;
    
    @media (--tablet-less) {
        max-height: 50px;
        overflow: hidden;
        
        position: relative;
        
        transition-duration: .4s;
        
        &:hover{
            max-height: 400px;
            
            &:after{
                transform: rotate(360deg);
            }
        }
        
        &:after{
            content: '^';
            position: absolute 0 0 0 *;
            padding: 1rem;
            
            font-weight: 700;
            font-size: 2rem;
            line-height: 0;
            transform: rotate(180deg);
            
            transition-duration: inherit;
            
            display: flex;
            align-items: center;
        }
    }
    
	// elements
	&__{
        &content{
            
            @media (--desktop-less) {
                flex-wrap: wrap;
            }
            @media (--tablet-more) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            @media (--tablet-less) {
                text-align: center;
            }
        }
        &city,
        &login{
            @media (--desktop-less) {
                margin-bottom: 1rem;
                justify-content: center;
            }
        }
		&link{
            order: 1;
            
            text-decoration: none;
            border-bottom: 1px dashed #45b172;
            color: #45b172;
        }
        &city{
            display: flex;
            &__text{
                margin-right: 10px;
            }
        }
        &login{
            order: 2;
            
            &__icon{
                display: inline-block;
                margin-right: 12px;
            }
        }
        &menu{
            
            @media (--desktop-less) {
                flex: 1 1 100%;
                order: 3;
                
                padding: 0;
                border: 0;
                margin: 0;
            }
        }
	}
}