<div class="news-section g-section g-section_padding g-section_color_gray">
    <div class="news-section__content g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text">Новости</div>
                <a href="#" class="g-section__link">Все новости<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
        <div class="news-section__body">
            <import module="news"></import>
            <import module="news"></import>
            <import module="news"></import>
        </div>
    </div>
</div>