.news-section{
	
	// elements
	&__{
		&body{
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                flex-wrap: wrap;
            }
            @media (--tablet-less) {
                justify-content: center;
            }
        }
	}
}