.menu{
	display: flex;
    border-right: 1px solid #e6e6e6;
    
    @media (--desktop-less) {
        justify-content: space-between;
        width: 100%;
    }
    @media (--tablet-less) {
        flex-direction: column;
    }
    
	// elements
	&__{
        &item{
            box-sizing: border-box;
            position: relative;
            padding: 7px 0;
            border-left: 1px solid #e6e6e6;
            color: #5b5b5b;
            
            @media (--desktop-less) {
                width: 100%;
            }
            @media (--tablet-only) {
                text-align: center;
            }
            
            &:hover{
                background-color: #45b172;
                color: #fff;
            }
            &:hover .submenu{
                display: block;
            }
        }
		&link{
            padding: 0 30px;
            display: block;
            line-height: 38px;
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
            
            @media (--tablet-only) {
                padding: 0;
            }
        }
	}
}