<div class="menu">
    <div class="menu__item">
        <a href="#" class="menu__link">ХВОЙНЫЕ</a>
        <import module="submenu"></import>
    </div>
    <div class="menu__item">
        <a href="#" class="menu__link">ЛИСТВЕННЫЕ</a>
        <import module="submenu"></import>
    </div>
    <div class="menu__item">
        <a href="#" class="menu__link">ПЛОДОВЫЕ</a>
        <import module="submenu"></import>
    </div>
    <div class="menu__item">
        <a href="#" class="menu__link">РОЗЫ</a>
    </div>
    <div class="menu__item">
        <a href="#" class="menu__link">АЗАЛИИ</a>
    </div>
    <div class="menu__item">
        <a href="#" class="menu__link">МНОГОЛЕТНИКИ</a>
    </div>
</div>