
<div class="company-section g-section g-section_padding g-section_color_gray">
    <div class="company-section__content g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text">О компании</div>
                <a href="#" class="g-section__link">Подробнее<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
        <div class="company-section__body">
            <div class="company-section__text">
                <p>Розничная и оптовая продажа растений - основное направление деятельности нашей компании. Мы реализуем посадочный материал из российских, польских 
    и немецких питомников. Все питомники, с которыми мы работаем, имеют большой опыт и безупречную репутацию. Вы можете приобрести любые декоративные растения оптом и врозницу. Вы можете приобрести растения оптом любых видов и сортов.</p>
                <p>Мы не только предлагаем купить растения оптом, так же мы предлагаем Вам выполнить работы по озеленению Вашего участка (некоторые примеры работ приведены в соответствующем разделе на сайте).</p>
            </div>
        </div>
    </div>
</div>