<div class="product-carousel">
    <div class="product-carousel__main">
        <a href="http://placehold.alanev.ru/510x500/ffff00" data-lightbox="gallery" class="product-carousel__main__item _active">
            <img src=":210x300/ffff00" alt="">
        </a>
        <a href="http://placehold.alanev.ru/510x500/sadfas" data-lightbox="gallery" class="product-carousel__main__item">
            <img src=":210x300/sadfas" alt="">
        </a>
        <a href="http://placehold.alanev.ru/510x500/fdsasf" data-lightbox="gallery" class="product-carousel__main__item">
            <img src=":210x300/fdsasf" alt="">
        </a>
    </div>
    <div class="product-carousel__previews">
        <div class="product-carousel__previews__item _active">
            <img src=":62x63/ffff00" alt="">
        </div>
        <div class="product-carousel__previews__item">
            <img src=":62x63/sadfas" alt="">
        </div>
        <div class="product-carousel__previews__item">
            <img src=":62x63/fdsasf" alt="">
        </div>
    </div>
</div>