.product-carousel{
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
	// elements
	&__{
        &main{
            height: 100%;
            &__item{
                height: 310px;
                box-sizing: border-box;
                &:not(._active){
                    display: none;
                }
            }
        }
		&previews{
            display: flex;
            justify-content: space-between;
            &__item{
                width: 62px;
                height: 63px;
                box-sizing: border-box;
                &:not(._active){
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
	}
}