.stars{
	display: flex;
	// elements
	&__{
		&star{
            width: 14px;
            height: 13px;
            &:not(:last-child){
                margin-right: 5px;
            }
            
            background-image: url('img/star.png');
            background-repeat: no-repeat;
            &._active{
                background-image: url('img/star_active.png');
            }
        }
	}
}