.shops{
	
	// elements
	&__{
		&title{
            position: relative;
            margin: 0 20px;
            font-weight: 700;
            line-height: 1.71;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 44px;
                height: 5px;
                background-color: #4fb57a;
            }
        }
        &head{
            margin: 30px 20px 0 20px;
        }
        &info{
            margin: 10px 0;
            color: #45b172;
            line-height: 1.71;
        }
        &show{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            
            @media (--tablet-less) {
                flex-direction: column;
                align-items: flex-start;
            }
            
            &__text{
                margin-right: 25px;
                
                @media (--tablet-less) {
                    margin-bottom: .5rem;
                }
            }
        }
        &more{
            display: block;
            width: 88px;
            text-align: center;
            line-height: 36px;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            background-color: #45b172;
        }
        &link{
            line-height: 22px;
            color: #000;
            text-decoration: none;
            border-bottom: 1px dashed #000;
        }
        &gray{
            color: #6a6a6a;
        }
        &bottom{
            display: flex;
            justify-content: center;
            padding: 13px 0;
        }
        &all{
            text-decoration: none;
            text-transform: uppercase;
            color: #45b172;
            border-bottom: 1px dashed #45b172;
        }
        &table{
            
            table{
                width: 100%;
        
                @media (--desktop-less) {
                    min-width: 700px;
                }
            }
            
            @media (--desktop-less) {
                overflow: auto;
                
                &:after{
                    content: '↔';
                    
                    display: block;
                    
                    text-align: center;
                }
            }
        }
	}
    table{
        tr{
            &:nth-child(2n+1){
                background-color: #f5f5f5;
            }
        }
        td{
            padding: 15px 20px;
        }
    }
}