<div class="shops">
    <div class="shops__title">САМОВЫВОЗ</div>
    <div class="shops__head">
        <div class="shops__show">
            <div class="shops__show__text">Просмотр магазинов:</div>
            <input type="radio" name="shops" id="shops1" class="form__radio">
            <label for="shops1">Списком</label>
            <input type="radio" name="shops" id="shops2" class="form__radio">
            <label for="shops2">НА КАРТЕ</label>
        </div>
        <div class="shops__info">*Дополниетльная скидка 3% при заказе через сайт или предварительном бронировании по телефону!</div>
    </div>
    <div class="shops__body">
        <div class="shops__views">
            <div class="shops__table">
                <table>
                    <tr>
                        <td>
                            Ленинский проспект<br>
                            <a href="#" class="shops__link">Ленинский пр., д. 129</a>
                        </td>
                        <td>Бесплатно</td>
                        <td> Через 4 дня <span class="shops__gray">(Сб, 21.11)</span></td>
                        <td>
                            <a href="#" class="shops__more">ПОДРОБНЕЕ</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ленинский проспект<br>
                            <a href="#" class="shops__link">Ленинский пр., д. 129</a>
                        </td>
                        <td>Бесплатно</td>
                        <td> Через 4 дня <span class="shops__gray">(Сб, 21.11)</span></td>
                        <td>
                            <a href="#" class="shops__more">ПОДРОБНЕЕ</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ленинский проспект<br>
                            <a href="#" class="shops__link">Ленинский пр., д. 129</a>
                        </td>
                        <td>Бесплатно</td>
                        <td> Через 4 дня <span class="shops__gray">(Сб, 21.11)</span></td>
                        <td>
                            <a href="#" class="shops__more">ПОДРОБНЕЕ</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="shops__bottom">
            <a href="#" class="shops__all">Все магазины</a>
        </div>
    </div>
</div>