[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-100:before {
	width: 74px;
	height: 74px;
	background-position: -255px -142px;
}
.i-arrow-down:before {
	width: 10px;
	height: 8px;
	background-position: -439px -167px;
}
.i-arrow-right:before {
	width: 7px;
	height: 10px;
	background-position: -413px -195px;
}
.i-arrow-right_long:before {
	width: 21px;
	height: 9px;
	background-position: -413px -181px;
}
.i-arrow-right_long_green:before {
	width: 21px;
	height: 9px;
	background-position: -413px -167px;
}
.i-bank:before {
	width: 71px;
	height: 75px;
	background-position: -334px -79px;
}
.i-call:before {
	width: 74px;
	height: 74px;
	background-position: -176px -222px;
}
.i-card:before {
	width: 74px;
	height: 75px;
	background-position: -176px -142px;
}
.i-cart:before {
	width: 44px;
	height: 44px;
	background-position: -413px -49px;
}
.i-del-msk:before {
	width: 74px;
	height: 56px;
	background-position: -334px -235px;
}
.i-del-mskreg:before {
	width: 74px;
	height: 43px;
	background-position: -334px -296px;
}
.i-del-reg:before {
	width: 74px;
	height: 55px;
	background-position: 0px -344px;
}
.i-delivery:before {
	width: 74px;
	height: 74px;
	background-position: -334px 0px;
}
.i-logo-footer:before {
	width: 171px;
	height: 197px;
	background-position: 0px -142px;
}
.i-logo:before {
	width: 329px;
	height: 137px;
	background-position: 0px 0px;
}
.i-man:before {
	width: 17px;
	height: 21px;
	background-position: -413px -141px;
}
.i-money:before {
	width: 74px;
	height: 71px;
	background-position: -334px -159px;
}
.i-nursery:before {
	width: 74px;
	height: 74px;
	background-position: -255px -222px;
}
.i-phone:before {
	width: 44px;
	height: 44px;
	background-position: -362px -344px;
}
.i-place:before {
	width: 44px;
	height: 44px;
	background-position: -413px 0px;
}
.i-sale1:before {
	width: 55px;
	height: 30px;
	background-position: -176px -301px;
}
.i-sale2:before {
	width: 58px;
	height: 23px;
	background-position: 0px -404px;
}
.i-sale3:before {
	width: 51px;
	height: 47px;
	background-position: -306px -344px;
}
.i-sale4:before {
	width: 44px;
	height: 38px;
	background-position: -413px -98px;
}
.i-sale5:before {
	width: 55px;
	height: 30px;
	background-position: -236px -301px;
}
.i-search:before {
	width: 18px;
	height: 18px;
	background-position: -435px -141px;
}
.i-tovar1:before {
	width: 54px;
	height: 54px;
	background-position: -79px -344px;
}
.i-tovar2:before {
	width: 51px;
	height: 51px;
	background-position: -250px -344px;
}
.i-tovar3:before {
	width: 51px;
	height: 51px;
	background-position: -194px -344px;
}
.i-tovar4:before {
	width: 51px;
	height: 51px;
	background-position: -138px -344px;
}
