<div class="product-tabs">
    <div class="product-tabs__head">
        <div class="product-tabs__head__tab">ОПИСАНИЕ</div>
        <div class="product-tabs__head__tab"> СВОЙСТВА</div>
        <div class="product-tabs__head__tab">ОТЗЫВЫ</div>
        <div class="product-tabs__head__tab _active">НАЛИЧИНЕ В МАГАЗИНАХ</div>
    </div>
    <div class="product-tabs__body">
        <div class="product-tabs__body__tab">
            <div class="product-tabs__content">
                <p>1Лианы - интереснейшие растения для дизайна сада. С их помощью можно осуществлять разные идеи в озеленении вертикального типа. Продажа декоративных растений, в первую очередь лиан, изменит Ваш сад до неузнаваемости, сделает его уютным и неповторимым. Пустите девичий виноград по непривлекательной стене, по неприглядному забору, и они тот час же преобразуются, станут удивительным вертикальным фоном для цветников, розариев и рокариев. Оплетая любые опоры и поверхности, лианы способны сглаживать острые углы в саду, объединять разрозненные участки, просто играть роль вертикалей. Лианы можно использовать для покрова почвы в местах с большим количеством камней, в рокариях, на крутых откосах. А может быть кто-то готов завить свой забор лианами, сделать его более уютным, особенным, и не ставить непроглядный забор. А как хороши лианы на балконах, арках, декоративных беседках!</p>
            </div>
        </div>
        <div class="product-tabs__body__tab">
            <div class="product-tabs__content">
                <p>2Лианы - интереснейшие растения для дизайна сада. С их помощью можно осуществлять разные идеи в озеленении вертикального типа. Продажа декоративных растений, в первую очередь лиан, изменит Ваш сад до неузнаваемости, сделает его уютным и неповторимым. Пустите девичий виноград по непривлекательной стене, по неприглядному забору, и они тот час же преобразуются, станут удивительным вертикальным фоном для цветников, розариев и рокариев. Оплетая любые опоры и поверхности, лианы способны сглаживать острые углы в саду, объединять разрозненные участки, просто играть роль вертикалей. Лианы можно использовать для покрова почвы в местах с большим количеством камней, в рокариях, на крутых откосах. А может быть кто-то готов завить свой забор лианами, сделать его более уютным, особенным, и не ставить непроглядный забор. А как хороши лианы на балконах, арках, декоративных беседках!</p>
            </div>
        </div>
        <div class="product-tabs__body__tab">
            <div class="product-tabs__content">
                <p>3Лианы - интереснейшие растения для дизайна сада. С их помощью можно осуществлять разные идеи в озеленении вертикального типа. Продажа декоративных растений, в первую очередь лиан, изменит Ваш сад до неузнаваемости, сделает его уютным и неповторимым. Пустите девичий виноград по непривлекательной стене, по неприглядному забору, и они тот час же преобразуются, станут удивительным вертикальным фоном для цветников, розариев и рокариев. Оплетая любые опоры и поверхности, лианы способны сглаживать острые углы в саду, объединять разрозненные участки, просто играть роль вертикалей. Лианы можно использовать для покрова почвы в местах с большим количеством камней, в рокариях, на крутых откосах. А может быть кто-то готов завить свой забор лианами, сделать его более уютным, особенным, и не ставить непроглядный забор. А как хороши лианы на балконах, арках, декоративных беседках!</p>
            </div>
        </div>
        <div class="product-tabs__body__tab _active">
            <import src="modules/shops/shops.htm"></import>
        </div>
    </div>
</div>