.product-tabs{
	
	// elements
	&__{
		&head{
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
            line-height: 24px;
            border-bottom: 1px solid #c2c2c2;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
            
            &__tab{
            
                @media (--tablet-less) {
                    &:not(:first-child){
                        margin-top: .5rem;
                    }
                }
                
                &:not(._active){
                    cursor: pointer;
                }
                &._active{
                    position: relative;
                    color: #45b172;
                    font-weight: 700;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 6px;
                        background-color: #45b172
                    }
                }
            }
        }
        &body{
            padding-top: 30px;
            &__tab{
                &:not(._active){
                    display: none;
                }
            }
        }
        &content{
            padding: 0 20px 20px 20px;
        }
	}
}