.contacts{
    padding: 20px;
	background-color: #fff;
	// elements
	&__{
		&text{
            margin-top: -20px;
            color: #5b5b5b;
            line-height: 24px;
            p{
                margin-top: 15px;
            }
            b{
                font-weight: 700;
            }
        }
        &map{
            margin-top: 15px;
            width: 100%;
            height: 310px;
            height: auto;
        }
        &info{
            margin-top: 15px;
            color: #5b5b5b;
        }
	}
}