<div class="contacts">
    <h1>Контакты</h1>
    <div class="contacts__text">
        <p><b>Телефон:</b> 8 (495) 374-59-62</p>
        <p><b>Адрес:</b> Московская область, Ногинский район, деревня Кашино, 11</p>
        <p><b>Часы работы:</b> ежедневно с 08.00 до 20.00</p>
        <p><b>Как к нам проехать:</b><br>
                42-ой км по Горьковскому шоссе.<br>
                Вам нужно доехать до Обухово.<br>
                Повернуть в Обухово на первом светофоре направо.<br>
                Ехать 1 км до деревни Кашино.<br>
                Мы находимся справа если двигаться от Горьковского шоссе.<br>
        </p>
    </div>
    <div class="contacts__map">
        <img src=":768x310" alt="">
    </div>
    <div class="contacts__info">
        <p>ООО "Иннер Маркет"</p>
        <p>ОГРН: 1097746411510</p>
        <p>ИНН: 7707707710</p>
        <p>юр.адрес: 127055, г. Москва, Новослободская ул., д.54/56</p>
    </div>
</div>