.g-section{
	&_padding{
        padding: 50px 0;
    }
    &_color{
        &_gray{
            background-color: #f1f1f1;
        }
    }
    
	&__content{
        box-sizing: border-box;
		width: 1080px;
		margin: 0 auto;
        
        @media (--desktop-less) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media (--desktop-less) {
            width: 768px;
        }
        @media (--phone-only) {
            width: 100%;
            max-width: 640px;
        }
	}
    &__title{
        position: relative;
        margin-bottom: 30px;
        border-bottom: 1px solid #dbdbdb;
        &__body{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (--tablet-less) {
                flex-direction: column;
                align-items: flex-start;
                
                padding-bottom: 1rem;
            }
        }
        &__text{
            padding-bottom: 4px;
            font-size: 18px;
            font-weight: 700;
        }
        &:after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 44px;
            height: 6px;
            background-color: #45b172;
        }
    }
    &__icon{
        margin-left: 9px;
    }
    &__link{
        text-decoration: none;
        color: #a1a1a1;
        
        @media (--tablet-less) {
            align-self: flex-end;
        }
    }
    
}