<div class="g-section g-section_padding g-section_color_gray">
    <div class="g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text"></div>
                <a href="#" class="g-section__link"><i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
    </div>
</div>