.information{
    padding: 20px;
	background-color: #fff;
	// elements
	&__{
        &item{
            &:not(:first-child){
                margin-top: 30px;
            }
        }
		&title{
            color: #45b172;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &text{
            margin-top: 25px;
            color: #5b5b5b;
            line-height: 1.71;
        }
	}
}