<div class="information">
    <div class="information__item">
        <div class="information__title">РОЗНИЧНАЯ И ОПТОВАЯ ПРОДАЖА</div>
        <div class="information__text">Розничная и оптовая продажа растений - основное направление деятельности нашей компании. Мы реализуем посадочный материал из российских, польских и немецких питомников. Все питомники, с которыми мы работаем, имеют большой опыт и безупречную репутацию. Вы можете приобрести любые декоративные растения оптом и в розницу. Вы можете приобрести растения оптом любых видов и сортов.</div>
    </div>
    <div class="information__item">
        <div class="information__title">РОЗНИЧНАЯ И ОПТОВАЯ ПРОДАЖА</div>
        <div class="information__text">Розничная и оптовая продажа растений - основное направление деятельности нашей компании. Мы реализуем посадочный материал из российских, польских и немецких питомников. Все питомники, с которыми мы работаем, имеют большой опыт и безупречную репутацию. Вы можете приобрести любые декоративные растения оптом и в розницу. Вы можете приобрести растения оптом любых видов и сортов.</div>
    </div>
    <div class="information__item">
        <div class="information__title">РОЗНИЧНАЯ И ОПТОВАЯ ПРОДАЖА</div>
        <div class="information__text">Розничная и оптовая продажа растений - основное направление деятельности нашей компании. Мы реализуем посадочный материал из российских, польских и немецких питомников. Все питомники, с которыми мы работаем, имеют большой опыт и безупречную репутацию. Вы можете приобрести любые декоративные растения оптом и в розницу. Вы можете приобрести растения оптом любых видов и сортов.</div>
    </div>
    <div class="information__item">
        <div class="information__title">РОЗНИЧНАЯ И ОПТОВАЯ ПРОДАЖА</div>
        <div class="information__text">Розничная и оптовая продажа растений - основное направление деятельности нашей компании. Мы реализуем посадочный материал из российских, польских и немецких питомников. Все питомники, с которыми мы работаем, имеют большой опыт и безупречную репутацию. Вы можете приобрести любые декоративные растения оптом и в розницу. Вы можете приобрести растения оптом любых видов и сортов.</div>
    </div>
</div>