.menu-nav{
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
    
    padding: 0 10px;
	border-left: 1px solid #494949;
	border-right: 1px solid #494949;
    margin: 0 10px;
    
    @media (--tablet-less) {
        width: 100%;
        
        flex-direction: column;
        align-items: center;
    }
    
	// elements
	&__{
		&link{
            display: block;
            line-height: 28px;
            color: #fff;
            text-decoration: none;
        }
	}
}