<div class="menu-nav">
    <a href="#" class="menu-nav__link">О компании</a>
    <a href="#" class="menu-nav__link">Ландшафтный дизайн</a>
    <a href="#" class="menu-nav__link">Качество</a>
    <a href="#" class="menu-nav__link">Скидки</a>
    <a href="#" class="menu-nav__link">Оптовикам</a>
    <a href="#" class="menu-nav__link">Доставка и оплата</a>
    <a href="#" class="menu-nav__link">Контакты</a>
    <a href="#" class="menu-nav__link">Отзывы</a>
</div>