<div class="footer g-section">
    <div class="footer__content g-section__content">
        <a href="#" class="footer__logo">
            <i class="i-logo-footer"></i>
        </a>
        <import module="menu-footer" class=" footer__menu"></import>
        <div class="footer__info">
            <a href="#" class="footer__phone">8 (495) 374-59-62</a>
            <div class="footer__place">Московская область, Ногинский район, деревня Кашино, 11</div>
            <import module="search" class=" search_big"></import>
        </div>
    </div>
</div>