.footer{
    padding: 50px 0 40px;
    background-size: cover;
	background-image: url('img/bg-footer.jpg');
	// elements
	&__{
		&content{
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
        &menu{
            @media (--desktop-less) {
                order: 10;
                
                margin-top: 1rem;
            }
        }
        &info{
            max-width: 260px;
            
            @media (--tablet-only) {
                margin-left: 2rem;
            }
            @media (--tablet-less) {
                margin-top: 1rem;
            }
        }
        &phone{
            color: #45b172;
            font-size: 32px;
            font-weight: 700;
            text-decoration: none;
        }
        &place{
            margin: 14px 0;
            color: #fff;
        }
	}
}