.inner-section{
    padding: 35px 0;
	background-color: #f1f1f1;
	// elements
	&__{
		&body{
            display: flex;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &aside{
            @media (--phone-more) {
                min-width: 236px;
                width: 236px;
                margin-right: 20px;
            }
            @media (--desktop-more) {
                margin-right: 40px;
            }
            @media (--tablet-less) {
                order: 10;
                
                margin-top: 2rem;
            }
        }
        &main{
            
            @media (--tablet-more) {
                width: calc(100% - 256px);
            }
        }
	}
}