<div class="inner-section g-section">
    <div class="inner-section__content g-section__content">
        <div class="inner-section__body">
            <div class="inner-section__aside">
                <import src="modules/menu-inner/menu-inner.htm"></import>
                <import src="modules/news-block/news-block.htm"></import>
            </div>
            <div class="inner-section__main">
                <import src="modules/appeal/appeal.htm"></import>
                <import src="modules/news-page/news-page.htm"></import>
                <import src="modules/catalog/catalog.htm"></import>
                <import src="modules/pagination/pagination.htm"></import>
                <import src="modules/contacts/contacts.htm"></import>
                <import src="modules/product/product.htm"></import>
                <import src="modules/similar/similar.htm"></import>
                <import src="modules/sales/sales.htm"></import>
                <import src="modules/gallery/gallery.htm"></import>
                <import src="modules/delivery/delivery.htm"></import>
                <import src="modules/payments/payments.htm"></import>
                <import src="modules/order/order.htm"></import>
                <import src="modules/breadcrumbs/breadcrumbs.htm"></import>
                <import src="modules/information/information.htm"></import>
            </div>
        </div>
    </div>
</div>