<div class="inner-section g-section">
    <div class="inner-section__content g-section__content">
        <div class="inner-section__body">
            <div class="inner-section__aside">
                <import src="modules/menu-inner/menu-inner.htm"></import>
                <import src="modules/news-block/news-block.htm"></import>
            </div>
            <div class="inner-section__main">
                <import src="modules/breadcrumbs/breadcrumbs.htm"></import>
                <import src="modules/contacts/contacts.htm"></import>
            </div>
        </div>
    </div>
</div>