<div class="inner-section g-section">
    <div class="inner-section__content g-section__content">
        <div class="inner-section__body">
            <div class="inner-section__aside">
                <import module="menu-inner"></import>
                <import module="news-block"></import>
            </div>
            <div class="inner-section__main">
                <import module="appeal"></import>
                <import module="news-page"></import>
                <import module="catalog"></import>
                <import module="pagination"></import>
                <import module="contacts"></import>
                <import module="product"></import>
                <import module="similar"></import>
                <import module="sales"></import>
                <import module="gallery"></import>
                <import module="delivery"></import>
                <import module="payments"></import>
                <import module="order"></import>
                <import module="breadcrumbs"></import>
                <import module="information"></import>
            </div>
        </div>
    </div>
</div>