.select{
	position: relative;
    width: 100%;
    background-color: #f5f5f5;
    color: #898989;
    cursor: pointer;
    
    @media (--desktop-more) {
        max-width: 364px;
    }
    
    &__arrow{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 34px;
        width: 34px;
        background-color: #45b172;
        &:after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            border-top: 9px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
}
.select__selected{
	padding: 0 15px;
	line-height: 34px;
    
    white-space: nowrap;
    overflow: hidden;
}
.select__list{
	position: absolute;
	box-sizing: border-box;
	min-width: 100%;
    max-width: 100%;
	line-height: 34px;
    background-color: #f5f5f5;
	visibility: hidden;
}
.select__list_pos_down{
	top: 100%;
	margin-top: 10px;
}
.select__list_pos_up{
	bottom: 100%;
	margin-bottom: 10px;
}
.select__list_pos_left{
	left: 0;
	margin-left: 10px;
}
.select__list_pos_right{
	right: 0;
	margin-right: 10px;
}
.select__item{
	padding: .5em 15px;
    line-height: 1;
}
.select__item.selected,
.select__item:hover{
    background-color: #45b172;
    
    color: white;
}
.select.open .select__list{
	visibility: visible;
}