.menu-inner{
    padding: 20px 2px 15px;
	background-color: #fff;
	// elements
	&__{
        &body{
            margin-top: -8px;
        }
        &item{
            ._active &__title{
                font-weight: 700;
            }
            
            &__title{
                position: relative;
                margin: 8px 18px 8px 23px;
                cursor: pointer;
                span{
                    display: inline-block;
                    color: #45b172;
                    border-bottom: 1px dashed #45b172;
                }
            }
            &:not(._active) .menu-inner__subitem{
                display: none;
            }
            &:not(._active) .menu-inner__arrow{
                display: none;
            }
        }
        &arrow{
            position: absolute;
            top: 0;
            right: 0;
        }
		&subitem{
            &:not(._active) .menu-inner__link{
                display: none;
            }
            &:not(._active) .menu-inner__arrow{
                display: none;
            }
            &__title{
                position: relative;
                padding: 0 23px;
                line-height: 30px;
                cursor: pointer;
                i{
                    right: 18px;
                }
            }
            &._active &__title{
                font-weight: 700;
                background-color: #f1f1f1;
            }
        }
        &link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            padding: 5px 12px 5px 23px;
            color: #a1a1a1;
        }
        &number{
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            border-radius: 50%;
            background-color: #f1f1f1;
        }
	}
}