<div class="menu-inner">
    <div class="menu-inner__body">
        <div class="menu-inner__item _active">
            <div class="menu-inner__item__title">
                <span>Хвойные растения</span>
                <i class="i-arrow-down menu-inner__arrow"></i>
            </div>
            <div class="menu-inner__subitem">
                <div class="menu-inner__subitem__title">
                    <span>Ель</span>
                    <i class="i-arrow-down menu-inner__arrow"></i>
                </div>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
            </div>
            <div class="menu-inner__subitem _active">
                <div class="menu-inner__subitem__title">
                    <span>Ель</span>
                    <i class="i-arrow-down menu-inner__arrow"></i>
                </div>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
            </div>
        </div>
        <div class="menu-inner__item">
            <div class="menu-inner__item__title">
                <span>Хвойные растения</span>
                <i class="i-arrow-down menu-inner__arrow"></i>
            </div>
            <div class="menu-inner__subitem">
                <div class="menu-inner__subitem__title">
                    <span>Ель</span>
                    <i class="i-arrow-down menu-inner__arrow"></i>
                </div>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
            </div>
            <div class="menu-inner__subitem">
                <div class="menu-inner__subitem__title">
                    <span>Ель</span>
                    <i class="i-arrow-down menu-inner__arrow"></i>
                </div>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
                <a href="#" class="menu-inner__link">
                    <div class="menu-inner__name">Ель сизая</div>
                    <div class="menu-inner__number">2</div>
                </a>
            </div>
        </div>
    </div>
</div>