<div class="gallery-carousel">
    <div class="gallery-carousel__item">
        <div class="gallery-carousel__preview">
            <img src=":680x340" alt="">
        </div>
        <div class="gallery-carousel__body">
            <div class="gallery-carousel__title">Розарий.</div>
            <div class="gallery-carousel__text">
                <p>Роза-королева среди цветов. Действительно, в 
период цветения роза представляет собой 
потрясающее зрелище.</p>
                <p>Для розы в Вашем саду надо отвести лучшее место. 
Вы можете посадить розы отдельно от других 
растений и сделать розарий, а можете включить розы 
в цветник вместе с другими растениями. И в том, и в 
другом случае роза будет смотреться выигрышно.</p>
            </div>
            <div class="gallery-carousel__bottom">
                <a href="#" class="gallery-carousel__link">Подробнее<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
    </div>
    <div class="gallery-carousel__item">
        <div class="gallery-carousel__preview">
            <img src=":680x340" alt="">
        </div>
        <div class="gallery-carousel__body">
            <div class="gallery-carousel__title">Розарий.</div>
            <div class="gallery-carousel__text">
                <p>Роза-королева среди цветов. Действительно, в 
период цветения роза представляет собой 
потрясающее зрелище.</p>
                <p>Для розы в Вашем саду надо отвести лучшее место. 
Вы можете посадить розы отдельно от других 
растений и сделать розарий, а можете включить розы 
в цветник вместе с другими растениями. И в том, и в 
другом случае роза будет смотреться выигрышно.</p>
            </div>
            <div class="gallery-carousel__bottom">
                <a href="#" class="gallery-carousel__link">Подробнее<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
    </div>
    <div class="gallery-carousel__item">
        <div class="gallery-carousel__preview">
            <img src=":680x340" alt="">
        </div>
        <div class="gallery-carousel__body">
            <div class="gallery-carousel__title">Розарий.</div>
            <div class="gallery-carousel__text">
                <p>Роза-королева среди цветов. Действительно, в 
период цветения роза представляет собой 
потрясающее зрелище.</p>
                <p>Для розы в Вашем саду надо отвести лучшее место. 
Вы можете посадить розы отдельно от других 
растений и сделать розарий, а можете включить розы 
в цветник вместе с другими растениями. И в том, и в 
другом случае роза будет смотреться выигрышно.</p>
            </div>
            <div class="gallery-carousel__bottom">
                <a href="#" class="gallery-carousel__link">Подробнее<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
    </div>
</div>