.gallery-carousel{
	
	// elements
	&__{
        &preview{
            img{
                max-width: 100%;
                height: 100%;
            }
        }
		&item{
            display: flex;
            
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &body{
            box-sizing: border-box;
            padding: 40px 30px;
            background-color: #f1f1f1;
            
            @media (--desktop-more) {
                max-width: 410px;
            }
        }
        &title{
            font-size: 24px;
            font-weight: 700;
        }
        &text{
            padding-bottom: 15px;
            border-bottom: 1px solid #a1a1a1;
            p{
                margin-top: 15px;
            }
        }
        &bottom{
            text-align: right;
            margin-top: 25px;
        }
        &link{
            line-height: 16px;
            display: block;
            text-decoration: none;
            color: #a1a1a1;
        }
	}
    
    .owl-dots{
        z-index: 2;
        box-sizing: border-box;
        padding: 0 30px;
        position: absolute;
        bottom: 40px;
        transform: translate(0, 0);
        
        @media (--desktop-more) {
            right: 255px;
        }
        @media (--desktop-less) {
            left: 0;
        }
    }
}