<div class="delivery">
    <div class="delivery__title">ДОСТАВКА</div>
    <div class="delivery__body">
        <div class="delivery__types">
            <div class="delivery__type">
                <div class="delivery__type__left">
                    <div class="delivery__icon"><i class="i-del-msk"></i></div>
                </div>
                <div class="delivery__type__right">
                    <div class="delivery__name">Доставка по Москве </div>
                    <div class="delivery__text">(на следующий день или через день):При сумме заказа от 5000р. - бесплатно<br> До 5000р. - 300р.</div>
                </div>
            </div>
            <div class="delivery__type">
                <div class="delivery__type__left">
                    <div class="delivery__icon"><i class="i-del-mskreg"></i></div>
                </div>
                <div class="delivery__type__right">
                    <div class="delivery__name">Доставка по Подмосковью</div>
                    <div class="delivery__text">300р. + 30р. за каждый километр пути</div>
                </div>
            </div>
            <div class="delivery__type">
                <div class="delivery__type__left">
                    <div class="delivery__icon"><i class="i-del-reg"></i></div>
                </div>
                <div class="delivery__type__right">
                    <div class="delivery__name">Доставка в Регионы</div>
                    <div class="delivery__text">Доставка более чем в 40000 населенных пунктов до двери или пункта самовывоза. Ниже представлены только некоторые города доставки. Возможность и стоимость доставки в Ваш город вы можете уточнить у оператора или при оформлении заказа. Доставка осуществляется компаниями - партнерами фирмы DDelivery. Доставка в регионы по 100% предоплате.</div>
                </div>
            </div>
        </div>
        <div class="delivery__places">
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
            <div class="delivery__places-box">
                <div class="delivery__letter">
                    <div class="delivery__letter__body">A</div>
                </div>
                <div class="delivery__list">
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                    <div class="delivery__place">Алтайский край
                        <span class="delivery__place__number">[6]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>