.delivery{
    padding: 20px;
	background-color: #fff;
	// elements
	&__{
		&title{
            color: #45b172;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &type{
            margin-top: 20px;
            display: flex;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &icon{
            margin-right: 25px;
        }
        &name{
            margin-top: 15px;
            color: #3a3a3a;
            font-size: 18px;
            font-weight: 700;
        }
        &text{
            margin-top: 20px;
            color: #3a3a3a;
        }
        &places{
            border-top: 1px solid #d9d9d9;
            padding-top: 30px;
            margin-top: 30px;
            margin-bottom: -40px;
            
            @media (--desktop-more) {
                column-count: 3;
            }
            @media (--tablet-only) {
                column-count: 2;
            }
        }
        &places-box{
            display: flex;
            margin-bottom: 40px;
        }
        &letter{
            margin-right: 15px;
            &__body{
                width: 36px;
                line-height: 36px;
                background-color: #45b172;
                text-align: center;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
            }
        }
        &list{
            padding-top: 5px;
        }
        &place{
            line-height: 24px;
            color: #3a3a3a;
            &__number{
                color: #969696;
            }
        }
	}
}