<div class="product">
    <div class="product__intro">
        <div class="product__carousel">
            <import src="modules/product-carousel/product-carousel.htm"></import>
        </div>
        <div class="product__main">
            <div class="product__head">
                <div class="product__title">Ель колючая Glauca Globosa</div>
                <div class="product__subtitle">Picea pungens "Glauca Globosa"</div>
            </div>
            <div class="product__table">
                <table>
                    <tr>
                        <th>Страна</th>
                        <th>Высота</th>
                        <th>Размер горшка</th>
                        <th>Количество</th>
                        <th>Цена, руб.</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Германия</td>
                        <td>125-150</td>
                        <td>C 15 XXL</td>
                        <td><input type="text" class="product__number" placeholder="1"></td>
                        <td>17 000р.</td>
                        <td><div class="product__add">купить</div></td>
                    </tr>
                    <tr>
                        <td>Германия</td>
                        <td>125-150</td>
                        <td>C 15 XXL</td>
                        <td><input type="text" class="product__number" placeholder="1"></td>
                        <td>17 000р.</td>
                        <td><div class="product__add">купить</div></td>
                    </tr>
                    <tr>
                        <td>Германия</td>
                        <td>125-150</td>
                        <td>C 15 XXL</td>
                        <td><input type="text" class="product__number" placeholder="1"></td>
                        <td>17 000р.</td>
                        <td><div class="product__add">купить</div></td>
                    </tr>
                    <tr>
                        <td>Германия</td>
                        <td>125-150</td>
                        <td>C 15 XXL</td>
                        <td><input type="text" class="product__number" placeholder="1"></td>
                        <td>17 000р.</td>
                        <td><div class="product__add">купить</div></td>
                    </tr>
                </table>
            </div>
            <div class="product__advantages">
                <div class="product__advantages__item">
                    <div class="product__advantages__icon"><i class="i-tovar1"></i></div>
                    <div class="product__advantages__text">Доставка по всей <br>России</div>
                </div>
                <div class="product__advantages__item">
                    <div class="product__advantages__icon"><i class="i-tovar2"></i></div>
                    <div class="product__advantages__text">Круглосуточный <br>колл-центр (24/7)</div>
                </div>
                <div class="product__advantages__item">
                    <div class="product__advantages__icon"><i class="i-tovar3"></i></div>
                    <div class="product__advantages__text">Собственный питомник растений</div>
                </div>
                <div class="product__advantages__item">
                    <div class="product__advantages__icon"><i class="i-tovar4"></i></div>
                    <div class="product__advantages__text">100% гарантия <br>качества</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__tabs">
        <import src="modules/product-tabs/product-tabs.htm"></import>
    </div>
</div>