.product{
	background-color: #fff;
    padding-top: 20px;
    table{
        tr{
            &:nth-child(2n+1){
                background-color: #f5f5f5;
            }
        }
        th{
            padding: 10px 0 0 20px;
            
            background-color: #fff;
            text-align: left;
            color: #5b5b5b;
        }
        td{
            padding: 10px 0 10px 20px;
        }
    }
	// elements
	&__{
		&intro{
            display: flex;
            
            @media (--desktop-more) {
                padding-left: 20px;
            }
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &table{
            table{
                width: 100%;
        
                @media (--desktop-less) {
                    min-width: 700px;
                }
            }
            
            @media (--desktop-less) {
                overflow: auto;
                
                &:after{
                    content: '↔';
                    
                    display: block;
                    
                    text-align: center;
                }
            }
        }
        &carousel{
            min-width: 210px;
            max-width: 210px;
            
            @media (--desktop-less) {
                order: 10;
                align-self: center;
                
                margin-top: 1rem;
            }
        }
        &main{
            width: 100%;
        }
        &head{
            margin: 0 20px;
            border-bottom: 1px solid #e7e7e7;
        }
        &title{
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
        }
        &subtitle{
            color: #5b5b5b;
            font-size: 12px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
        }
        &number{
            max-width: 74px;
            text-align: center;
            color: #000;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #adadad;
        }
        &add{
            width: 70px;
            text-align: center;
            margin-right: 20px;
            line-height: 30px;
            background-color: #45b172;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
        }
        &advantages{
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            
            @media (--tablet-less) {
                flex-wrap: wrap;
            }
            
            &__item{
                text-align: center;
                
                @media (--tablet-more) {
                    width: 25%;
                }
                @media (--tablet-less) {
                    width: 50%;
                }
            }
            &__text{
                font-size: 12px;
            }
        }
        &tabs{
            margin-top: 60px;
        }
	}
}