.header{
	padding: 35px 0;
    
    background-image: url('img/bg-intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
	// elements
	&__{
		&content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &info{
            width: 100%;
            margin-top: 30px;
        }
        &logo{
            
            @media (--tablet-less) {
                transform: scale(.8);
            }
        }
	}
}