<div class="header g-section">
    <div class="header__content g-section__content">
        <a href="#" class="header__logo">
            <i class="i-logo"></i>
        </a>
        <div class="header__info">
            <import module="site-info"></import>
        </div>
    </div>
</div>