.recall-section{
	
	// elements
	&__{
        &body{
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
	}
}