<div class="recall-section g-section g-section_padding">
    <div class="recall-section__content g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text">Отзывы</div>
                <a href="#" class="g-section__link">Все отзывы<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
        <div class="recall-section__body">
            <import module="recall"></import>
            <import module="recall"></import>
        </div>
    </div>
</div>