.recall{
    width: 47%;
    
    @media (--desktop-less) {
        width: auto;
        
        &:not(:first-child){
            padding-top: 2rem;
            border-top: 2px dotted color(black a(.2));
            margin-top: 2rem;
        }
    }
	
	// elements
	&__{
        &head{
            display: flex;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &left{
            display: flex;
            align-items: center;
        }
        &right{
            display: flex;
            align-items: center;
            
            @media (--tablet-less) {
                margin-top: 1rem;
            }
        }
        &name{
            margin-right: 10px;
            font-weight: 700;
        }
        &number{
            color: #a1a1a1;
            font-size: 12px;
        }
        &stars{
            margin-right: 15px;
        }
        &result{
            color: #a1a1a1;
        }
        &text{
            margin-top: 25px;
            &__b{
                font-weight: 700;
            }
        }
        &bottom{
            margin-top: 25px;
            color: #a1a1a1;
        }
	}
}