<div class="recall">
    <div class="recall__head">
        <div class="recall__left">
            <div class="recall__name">Сергиенко Василий</div>
            <div class="recall__number">(10 отзывов)</div>
        </div>
        <div class="recall__right">
            <div class="recall__stars">
                <import module="stars"></import>
            </div>
            <div class="recall__result">отличный магазин</div>
        </div>
    </div>
    <div class="recall__content">
        <div class="recall__text">
            <span class="recall__text__b">Достоинства: </span>Доставили заказ в обещанные сроки, качество соответствует. 
Курьер в состоянии грамотно ответить на вопросы, коммуникабелен и точен.
        </div>
        <div class="recall__text">
            <span class="recall__text__b">Недостатки: </span>Не обнаружено
        </div>
        <div class="recall__text">
            <span class="recall__text__b">Комментарий: </span>Что писать дополнительно? Третий заказ за 3 месяца 
(для одной семьи) на мой взгляд - это показатель доверия интернет-магазину.
        </div>
    </div>
    <div class="recall__bottom">3 ноября, Санкт-Петербург</div>
</div>