.news-block{
	margin-top: 23px;
	// elements
	&__{
		&title{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &body{
	       margin-top: 20px;
           
           @media (--tablet-less) {
               display: flex;
               flex-direction: column;
               align-items: center;
           }
        }
        &item{
            &:not(:last-child){
                margin-bottom: 25px;
            }
        }
	}
}