<div class="news-block">
    <div class="news-block__title">НОВОСТИ</div>
    <div class="news-block__body">
        <div class="news-block__item">
            <import src="modules/news/news.htm"></import>
        </div>
        <div class="news-block__item">
            <import src="modules/news/news.htm"></import>
        </div>
    </div>
</div>