.intro{
    
    @media (--tablet-less) {
        display: none !important;
    }
    
	// elements
    .owl-dots{
        width: 1080px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }
	&__{
        &slide{
            box-sizing: border-box;
            position: relative;
        }
        &content{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            
            height: 100%;
            padding-top: 45px;
            padding-bottom: 45px;
        }
		&img{
            width: 100%;
            height: auto;
        }
        &title{
            color: #fff;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &text{
            margin: 25px 0 30px;
            color: #c6cdcc;
            line-height: 1.71;
        }
        &more{
            display: block;
            width: 160px;
            line-height: 45px;
            text-align: center;
            background-color: #45b172;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
        }
	}
}