<div class="intro g-section">
    <div class="intro__slide">
        <img src=":1920x560/0042eb" alt="" class="intro__img">
        <div class="intro__content g-section__content">
            <div class="intro__info">
                <div class="intro__title">ДОСТАВКА ЕЛЕЙ <br>ДОМОЙ</div>
                <div class="intro__text">Мы доставляем наш товар прямо к вашему <br>дому бесплатно. Еще какой-то текст, чтобы <br>занять место. Ну и еще немного.</div>
                <a href="#" class="intro__more">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="intro__slide">
        <img src=":1920x560/dsadsa" alt="" class="intro__img">
        <div class="intro__content g-section__content">
            <div class="intro__info">
                <div class="intro__title">ДОСТАВКА ЕЛЕЙ <br>ДОМОЙ</div>
                <div class="intro__text">Мы доставляем наш товар прямо к вашему <br>дому бесплатно. Еще какой-то текст, чтобы <br>занять место. Ну и еще немного.</div>
                <a href="#" class="intro__more">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="intro__slide">
        <img src=":1920x560/a5s6d7" alt="" class="intro__img">
        <div class="intro__content g-section__content">
            <div class="intro__info">
                <div class="intro__title">ДОСТАВКА ЕЛЕЙ <br>ДОМОЙ</div>
                <div class="intro__text">Мы доставляем наш товар прямо к вашему <br>дому бесплатно. Еще какой-то текст, чтобы <br>занять место. Ну и еще немного.</div>
                <a href="#" class="intro__more">Подробнее</a>
            </div>
        </div>
    </div>
</div>