<div class="tovar">
    <div class="tovar__preview">
        <img src=":240x250" alt="">
        <a href="#" class="tovar__more">Подробнее</a>
    </div>
    <div class="tovar__body">
        <div class="tovar__title">Ель колючая <br>"Glauca Globosa"</div>
        <div class="tovar__price">
            <div class="tovar__price__number">3200 - 17700</div>
            руб
        </div>
        <div class="tovar__add">В корзину</div>
    </div>
</div>