.tovar{
	background-color: #fff;
    
    @media (--tablet-more) {
        width: 240px;
    }
    @media (--tablet-less) {
        position: relative;
        display: flex;
        width: 100%;
        padding: 2rem 0;
        
        &:not(:last-child) {
            border-bottom: 1px solid color($color__gray a(.1));
        }
        &:after{
            content: '>';
            position: absolute 50% 1rem * *;
            transform: translateY(-50%);
            
            font-family: Arial;
            font-size: 48px;
            color: $color__green;
        }
    }
    @media (--phone-more) {
        margin-top: 30px;
    }
    
	// elements
    &:hover &__add{
        background-color: #ffa800;
    }
    &:hover &__more{
        display: block;
    }
	&__{
        &preview{
            position: relative;
            
            @media (--tablet-less) {
                width: 30%;
                padding: 0 1rem;
            }
            
            img{
                vertical-align: bottom;
                width: 100%;
                height: auto;
                height: 100% ?if media (--tablet-less);
                object-fit: cover;
            }
        }
		&body{
            padding-bottom: 15px;
            
            @media (--tablet-more) {
                text-align: center;
            }
            @media (--tablet-less) {
                flex: 1;
            }
        }
        &title{
            margin-top: 15px;
            text-transform: uppercase;
        }
        &price{
            display: flex;
            justify-content: center ?if media (--tablet-more);
            align-items: flex-end;
            
            margin-top: 15px;
            font-size: 12px;
            color: #5d5d5d;
            
            &__number{
                margin-right: 5px;
                font-size: 16px;
                font-weight: 700;
                color: #000;
            }
        }
        &add{
            @mixin hidden-phone;
            
            width: 130px;
            line-height: 38px;
            text-align: center;
            margin: 15px auto 0;
            background-color: #45b172;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
        }
        &more{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            width: 150px;
            text-align: center;
            line-height: 45px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.7);
            color: #000;
        }
	}
}