$media__phone_min: 320px;
$media__phone_max: 767.999px;

$media__tablet_min: 768px;
$media__tablet_max: 1179.999px;

$media__desktop_min: 1180px;

@custom-media --phone-only (min-width: $media__phone_min) and (max-width: $media__phone_max);
@custom-media --phone-more (min-width: $media__phone_max);

@custom-media --tablet-only (min-width: $media__tablet_min) and (max-width: $media__tablet_max);
@custom-media --tablet-less (max-width: $media__phone_max);
@custom-media --tablet-more (min-width: $media__tablet_min);

@custom-media --desktop-more (min-width: $media__desktop_min);
@custom-media --desktop-less (max-width: $media__tablet_max);