.breadcrumbs{
    padding: 11px 20px;
    margin-bottom: 15px;
	background-color: #fff;
    
    display: flex;
    align-items: center;
    
	// elements
	&__{
		&link{
            text-decoration: none;
            text-transform: uppercase;
            color: #5b5b5b;
            font-size: 12px;
            line-height: 14px;
            &:not(:last-child){
                position: relative;
            }
        }
        &separator{
            &:after{
                content: ">";
                margin: 0 20px 0 25px;
            }
        }
	}
}