
<div class="gallery-section g-section g-section_padding">
    <div class="gallery-section_content g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text">Галерея ландшафтного дизайна</div>
                <a href="#" class="g-section__link">Перейти в галерею<i class="i-arrow-right_long g-section__icon"></i></a>
            </div>
        </div>
        <div class="gallery-section__body">
            <import module="gallery-carousel"></import>
        </div>
    </div>
</div>