.nav-main{
    border-top: 1px solid #e6e6e6;
	background-color: #f6f6f6;
    
	// elements
	&__{
		&content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &search{
            max-width: 240px;
            width: 100%;
            margin-left: 20px;
            
            @media (--desktop-less) {
                margin: 1rem 0;
            }
        }
	}
}