<div class="nav-main g-section">
    <div class="nav-main__content g-section__content">
        <import module="menu"></import>
        <div class="nav-main__search">
            <import module="search"></import>
        </div>
    </div>
</div>