.payments{
    padding: 20px;
    margin-top: 30px;
	background-color: #fff;
	// elements
	&__{
		&title{
            color: #45b172;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &item{
            display: flex;
            margin-top: 40px;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
            
            &:last-child{
                margin-bottom: 1rem;
            }
        }
        &icon{
            margin-right: 25px;
        }
        &name{
            margin-top: 25px;
            color: #3a3a3a;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &text{
            margin-top: 25px;
            
            @media (--tablet-less) {
                word-wrap: break-word;
            }
            
            p{
                margin-top: 15px;
                color: #3a3a3a;
            }
        }
	}
}