<div class="payments">
    <div class="payments__title">ОПЛАТА</div>
    <div class="payments__body">
        <div class="payments__item">
            <div class="payments__icon"><i class="i-money"></i></div>
            <div class="payments__info">
                <div class="payments__name">ОПЛАТА НАЛИЧНЫМИ</div>
                <div class="payments__text">
                    <p>Оплата заказа наличными курьеру нашего магазина возможна в г.Москве и г.Санкт-Петербурге.</p>
                    <p>В регионах возможна оплата наличными при получении заказа курьеру транспортной компании EMS, в отделениях “Почты России” при получении бандероли или при получении заказа из постамата Pickpoint.</p>
                </div>
            </div>
        </div>
        <div class="payments__item">
            <div class="payments__icon"><i class="i-card"></i></div>
            <div class="payments__info">
                <div class="payments__name">ОНЛАЙН-ОПЛАТА</div>
                <div class="payments__text">
                    <p>Вы всегда можете оплатить заказ банковской картой или электронными деньгами. оплата заказов производится моментально, в любое время дня и ночи. Платежи осуществляются через сервис RBK Money, который включает в себя более 40 вариантов способов оплаты. среди них оплата любой банковской картой, web - money, яндекс деньги, смс платежи, qiwi , оплата через банк-клиент, евросеть, элекснет, связной.</p>
                    <p>Обращаем ваше внимание, что Randewoo.ru  не получает и не сохраняет данные вашей кредитной карты. Вы оплачиваете только стоимость покупки, комиссия при оплате on-line не взимается.</p>
                </div>
            </div>
        </div>
        <div class="payments__item">
            <div class="payments__icon"><i class="i-bank"></i></div>
            <div class="payments__info">
                <div class="payments__name">БАНКОВСКИЙ ПЕРЕВОД</div>
                <div class="payments__text">
                    <p>Вы можете оплатить заказ через любой банк, действующий на территории России. Оплату по заказу необходимо внести в течение 3 суток с момента оформления заказа. Срок зачисления денежных средств - 2-3 рабочих дня.</p>
                    <p>При оплате банковского перевода дополнительно взимается комиссионный сбор банка за перевод денежных средств, который составляет в среднем до 4% от стоимости заказа. Если Вы заполняете бланк банковского или почтового перевода вручную, обязательно указывайте в качестве получателя платежа ООО "МЕГАПЕРФЮМЕ", а в комментарии к платежу - номер Вашего заказа.</p>
                    <p>Реквизиты нашего банковского счета:</p>
                    <p>Получатель:ООО "Мегаперфюме"КПП:771501001ИНН:7715489209Р/сч.:40702810301100005706Банк:АО "АЛЬФА-БАНК"БИК:044525593К/сч.:30101810200000000593</p>
                    <p>В случае, если у Вас возникнут какие-либо вопросы по указанному способу оплату, Вы можете обратиться в службу клиентской поддержки с 9.00 до 22.00 по тел. 8 800 500-31-82.</p>
                </div>
            </div>
        </div>
    </div>
</div>