.navigation{
    padding: 40px 0;
	text-transform: uppercase;
    background-color: #f1f1f1;
    &_inner{
        background-color: #fff;
    }
	// elements
	&__{
        &content{
            display: flex;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &title{
            margin-right: 10px;
        }
		&letters{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #5b5b5b;
            
            @media (--tablet-more) {
                flex: 1 1 50%;
            }
            @media (--tablet-less) {
                flex-wrap: wrap;
                justify-content: flex-start;
                
                margin: .5rem 0 0;
            }
        }
        &link{
            text-decoration: none;
            color: #5b5b5b;
            
            @media (--tablet-less) {
                &:not(:last-child){
                    margin-right: .5rem;
                }
            }
        }
	}
}