<div class="navigation g-section">
    <div class="navigation__content g-section__content">
        <div class="navigation__title">Навигация по каталогу: </div>
        <div class="navigation__letters">
            <a href="#" class="navigation__link">А</a>
            <a href="#" class="navigation__link">Б</a>
            <a href="#" class="navigation__link">В</a>
            <a href="#" class="navigation__link">Г</a>
            <a href="#" class="navigation__link">Д</a>
            <a href="#" class="navigation__link">Е</a>
            <a href="#" class="navigation__link">Ё</a>
            <a href="#" class="navigation__link">Ж</a>
            <a href="#" class="navigation__link">З</a>
            <a href="#" class="navigation__link">И</a>
            <a href="#" class="navigation__link">Й</a>
            <a href="#" class="navigation__link">К</a>
            <a href="#" class="navigation__link">Л</a>
            <a href="#" class="navigation__link">М</a>
            <a href="#" class="navigation__link">Н</a>
            <a href="#" class="navigation__link">О</a>
            <a href="#" class="navigation__link">П</a>
            <a href="#" class="navigation__link">Р</a>
            <a href="#" class="navigation__link">С</a>
            <a href="#" class="navigation__link">Т</a>
            <a href="#" class="navigation__link">У</a>
            <a href="#" class="navigation__link">Ф</a>
            <a href="#" class="navigation__link">Х</a>
            <a href="#" class="navigation__link">Ц</a>
            <a href="#" class="navigation__link">Ч</a>
            <a href="#" class="navigation__link">Ш</a>
            <a href="#" class="navigation__link">Щ</a>
            <a href="#" class="navigation__link">Ъ</a>
            <a href="#" class="navigation__link">Ы</a>
            <a href="#" class="navigation__link">Ь</a>
            <a href="#" class="navigation__link">Э</a>
            <a href="#" class="navigation__link">Ю</a>
            <a href="#" class="navigation__link">Я</a>
        </div>
    </div>
</div>