.news{
    max-width: 100%;
	width: 310px;
    box-sizing: border-box;
    background-color: #fff;
    
    @media (--tablet-only) {
        &:not(:first-child):not(:nth-child(2)){
            margin-top: 2rem;
        }
    }
    @media (--desktop-less) {
        &:not(:first-child){
            margin-top: 2rem;
        }
    }
    
    .news-page &{
        width: 100%;
        
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    
	// elements
	&__{
        &preview{
            img{
                max-width: 100%;
                height: auto;
                
                .news-page & {
                    width: 100%;
                }
            }
        }
		&content{
            padding: 15px;
            
            .news-page &{
                padding: 1.5rem 0 15px;
            }
        }
        &bottom{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        &title{
            color: #3a3a3a;
            font-weight: 700;
            text-transform: uppercase;
            
            .news-page &{
                font-size: 18px;
            }
        }
        &text{
            margin-top: 10px;
            color: #5b5b5b;
            font-size: 12px;
            
            .news-page &{
                margin-top: 1rem;;
                
                font-size: 14px;
                line-height: 24px;
            }
        }
        &date{
            color: #a5a5a5;
        }
        &link{
            color: #45b172;
            text-decoration: none;
        }
	}
}