.gallery{
    padding: 20px;
	background-color: #fff;
	// elements
    h3{
        color: #45b172;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        
        &:not(:first-child){
            margin-top: 25px;
        }
        &._secondary{
            color: #5b5b5b;
        }
    }
    img{
        margin-top: 30px;
        width: 100%;
        height: auto;
    }
    p{
        margin-top: 25px;
        color: #5b5b5b;
        line-height: 1.71;
    }
	&__{
		
	}
}