.menu-footer{
	column-count: 2;
    column-gap: 80px;
	// elements
	&__{
		&link{
            display: block;
            color: #fff;
            text-decoration: none;
            line-height: 1.71;
            
            &:hover{
                text-decoration: underline;
            }
        }
        &icon{
            margin-right: 10px;
        }
	}
}