<div class="menu-footer">
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Главная</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>О компании</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Ландшафтный дизайн</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Новости</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Скидки</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Оптовикам</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Доставка и оплата</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Контакты</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Хвойные</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Лиственые</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Плодовые</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Розы</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Азалии</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Многолетники</a>
    <a href="#" class="menu-footer__link"><i class="i-arrow-right menu-footer__icon"></i>Лианы</a>
</div>