h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    padding: 0 0 1em;
    
    font-weight: 700;
    
    text-transform: uppercase;
    color: $color__green;
}

h1, .h1{
    font-size: 1.5rem;
}
h2, .h2{
    font-size: 1.4rem;
}
h3, .h3{
    font-size: 1.3rem;
}
h4, .h4{
    font-size: 1.2rem;
}
h5, .h5{
    font-size: 1.1rem;
}
h6, .h6{
    font-size: 1rem;
}