.order-products{
	
	// elements
    table{
        width: 100%;
        
        @media (--desktop-less) {
            min-width: 700px;
        }
    }
    th{
        padding: 0 .5rem;
        
        text-align: left;
        font-weight: 700;
        text-transform: uppercase;
        &:not(:first-child){
            text-align: center;
        }
    }
    td{
        padding-top: 25px;
        vertical-align: top;
        
        &:not(:first-child){
            text-align: center;
        }
    }
	&__{
        &body{
            
            @media (--desktop-less) {
                overflow-x: auto;
                
                &:after{
                    content: '↔';
                    
                    display: block;
                    
                    text-align: center;
                }
            }
        }
		&product{
            display: flex;
        }
        &preview{
            margin-right: 10px;
        }
        &info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &title{
            text-transform: uppercase;
            font-weight: 700;
        }
        &subtitle{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
        }
        &list{
            &__item{
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
        }
        &bold{
            font-weight: 700;
        }
        &price{
                
            white-space: nowrap;
            
            &_old{
                margin-top: 5px;
                color: #787878;
                font-size: 12px;
                text-decoration: line-through;
            }
        }
        &total{
            padding-top: 10px;
            border-top: 1px solid #d9d9d9;
            text-align: right;
            
            @media (--desktop-more){
                margin-top: 50px;
            }
            @media (--desktop-less){
                margin-top: 50px;
            }
            
            &__title{
                text-transform: uppercase;
                font-weight: 700;
            }
            &__price{
                margin: 4px 0;
                color: #45b172;
                font-size: 18px;
                font-weight: 700;
                
                &_old{
                    margin: 0;
                    color: #5b5b5b;
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: line-through;
                }
            }
        }
	}
}