<div class="order-products">
    <div class="order-products__body">
        <table class="order-products__table">
            <tr>
                <th>ТОВАР</th>
                <th>СКИДКА</th>
                <th>КОЛИЧЕСТВО</th>
                <th>ЦЕНА</th>
            </tr>
            <tr>
                <td>
                    <div class="order-products__product">
                        <div class="order-products__preview">
                            <img src=":80x120" alt="">
                        </div>
                        <div class="order-products__info">
                            <div class="order-products__head">
                                <div class="order-products__title">Ель колючая “Glauca Globosa”</div>
                                <div class="order-products__subtitle">Picea pungens "Glauca Globosa"</div>
                            </div>
                            <div class="order-products__list">
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Страна:</span> Германия
                                </div>
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Высота:</span> 150
                                </div>
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Размер горшка:</span> C 15 XXL
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>3%</td>
                <td>1 шт.</td>
                <td>
                    <div class="order-products__price">17 169 руб.</div>
                    <div class="order-products__price_old">17 700 руб.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="order-products__product">
                        <div class="order-products__preview">
                            <img src=":80x120" alt="">
                        </div>
                        <div class="order-products__info">
                            <div class="order-products__head">
                                <div class="order-products__title">Ель колючая “Glauca Globosa”</div>
                                <div class="order-products__subtitle">Picea pungens "Glauca Globosa"</div>
                            </div>
                            <div class="order-products__list">
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Страна:</span> Германия
                                </div>
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Высота:</span> 150
                                </div>
                                <div class="order-products__list__item">
                                    <span class="order-products__bold">Размер горшка:</span> C 15 XXL
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>3%</td>
                <td>1 шт.</td>
                <td>
                    <div class="order-products__price">17 169 руб.</div>
                    <div class="order-products__price_old">17 700 руб.</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="order-products__bottom">
        <div class="order-products__total">
            <div class="order-products__total__title">Общая стоимость:</div>
            <div class="order-products__total__price">17 169 руб</div>
            <div class="order-products__total__price_old">17 700 руб.</div>
        </div>
    </div>
</div>