.sales{
    padding: 20px;
	background-color: #fff;
	// elements
	&__{
		&title{
            color: #45b172;
            font-size: 24px;
            font-weight: 700;
        }
        &item{
            margin-top: 40px;
            align-items: center;
            
            @media (--tablet-more) {
                display: flex;
                align-items: center;
            }
            
            &:last-child .sales__text{
                margin-top: 5px;
            }
        }
        &icon{
            
            @media (--tablet-more) {
                width: 100px;
                min-width: 100px;
                margin-right: 15px;
                text-align: center;
            }
            @media (--tablet-less) {
                margin-bottom: 1rem;
            }
        }
        &text{
            font-size: 18px;
            &__strong{
                text-decoration: line-through;
            }
        }
	}
}