<div class="sales">
    <div class="sales__title">СКИДКИ</div>
    <div class="sales__body">
        <div class="sales__item">
            <div class="sales__icon"><i class="i-sale1"></i></div>
            <div class="sales__text">5% при заказе от 10 000Р.</div>
        </div>
        <div class="sales__item">
            <div class="sales__icon"><i class="i-sale2"></i></div>
            <div class="sales__text">10% при заказе от 50 000Р.</div>
        </div>
        <div class="sales__item">
            <div class="sales__icon"><i class="i-sale3"></i></div>
            <div class="sales__text">Специальные условия при заказе от 50 000Р.</div>
        </div>
        <div class="sales__item">
            <div class="sales__icon"><i class="i-sale4"></i></div>
            <div class="sales__text">Скидки не распространяются на товар с <span class="sales__text__strong">перечеркнутой</span> ценой.</div>
        </div>
        <div class="sales__item">
            <div class="sales__icon"><i class="i-sale5"></i></div>
            <div class="sales__text">Дополнительная скидка 3% при заказе через интернет <br>или предварительном бронировании товара по телефону.</div>
        </div>
    </div>
</div>