<div class="order">
    <form action="action.php" class="form">
        <div class="order__body">
            <div class="order__title">ТИПА ПЛАТЕЛЬЩИКА</div>
            <div class="form__fieldset">
                <input type="radio" name="face" id="face1" class="form__radio">
                <label for="face1">Физическое лицо</label>
                <input type="radio" name="face" id="face2" class="form__radio">
                <label for="face2">Юридическое лицо</label>
            </div>
            <div class="order__br"></div>
            <div class="order__title">Информация о покупателе</div>
            <div class="form__fieldset">
                <div class="form__text">Ф.И.О.</div>
                <input type="text" class="form__input" placeholder="Иванов Иван Иванович">
            </div>
            <div class="form__fieldset">
                <div class="form__text">Ф.И.О.</div>
                <input type="text" class="form__input" placeholder="Иванов Иван Иванович">
            </div>
            <div class="form__fieldset">
                <div class="form__text">Ф.И.О.</div>
                <input type="text" class="form__input" placeholder="Иванов Иван Иванович">
            </div>
            <div class="form__fieldset">
                <input type="radio" name="delivery" id="delivery1" class="form__radio">
                <label for="delivery1">Доставка</label>
                <input type="radio" name="delivery" id="delivery2" class="form__radio">
                <label for="delivery2">Самовывоз</label>
            </div>
            <div class="form__fieldset">
                <div class="form__text">Забрать в магазине</div>
                <div class="select card__select">
                    <div class="select__arrow"></div>
                    <div class="select__selected">Россия, Москва, ул. Пушкина, дом 3, корпус 1</div>
                    <div class="select__list">
                        <div class="select__item">Россия, Москва, ул. Пушкина, дом 3, корпус 1</div>
                        <div class="select__item">Россия, Москва, ул. Пушкина, дом 3, корпус 2</div>
                        <div class="select__item">Россия, Москва, ул. Пушкина, дом 3, корпус 3</div>
                    </div>
                    <input type="hidden" name="select-currancy" class="select__input" value="Россия, Москва, ул. Пушкина, дом 3, корпус 1">
                </div>
            </div>
            <div class="form__fieldset">
                <div class="form__text"></div>
                <div class="form__text">
                    <div class="order__time">Часы работы магазина: <span class="form__text__gray">10:00 - 22:00, пн - сб.</span></div>
                    <a href="#" class="order__all">Все магазины</a>
                    </div>
            </div>
            <div class="order__products">
                <import src="modules/order-products/order-products.htm"></import>
            </div>
            <div class="order__title">комментарии к заказу</div>
            <textarea name="comment" id="comment" cols="30" rows="5" class="form__input form__input_textarea order__textarea" placeholder="Ваш комментарий..."></textarea>
        </div>
        <div class="order__bottom"> 
            <button class="form__button">ОФОРМИТЬ ЗАКАЗ</button>
        </div>
    </form>
</div>