.order{
    margin-bottom: 60px;
	// elements
	&__{
        &body{
            padding: 20px;
            background-color: #fff;
        }
		&title{
            position: relative;
            padding-bottom: 2px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.71;
            &:after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 44px;
                height: 6px;
                background-color: #45b172;
            }
        }
        &bottom{
            margin-top: 20px;
            text-align: right;
        }
        &all{
            color: #45b172;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 1px dashed #45b172;
        }
        &time{
            margin-bottom: 12px;
            
            @media (--tablet-less) {
                display: flex;
                flex-direction: column;
            }
        }
        &br{
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
        }
        &products{
            margin: 50px 0;
        }
        &textarea{
            margin-top: 35px
        }
	}
}