<div class="catalog">
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
    <import src="modules/tovar/tovar.htm"></import>
</div>