.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (--tablet-less) {
        justify-content: center;
    }
    
	// elements
    .tovar{
        margin-top: 0;
        margin-bottom: 30px;
    }
}