.similar{
    margin-top: 20px;
	// elements
	&__{
		&title{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &body{
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                flex-wrap: wrap;
            }
            @media (--tablet-less) {
                justify-content: center;
            }
        }
	}
    .tovar{
        max-width: 195px;
        margin-top: 20px;
        &__title{
            color: #3d3d3d;
            font-size: 12px;
        }
    }
}