<div class="similar">
    <div class="similar__title">Похожие товары</div>
    <div class="similar__body">
        <import src="modules/tovar/tovar.htm"></import>
        <import src="modules/tovar/tovar.htm"></import>
        <import src="modules/tovar/tovar.htm"></import>
        <import src="modules/tovar/tovar.htm"></import>
    </div>
</div>