.catalog-section{
	
	// elements
	&__{
		&body{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            margin-top: -30px;
            
            @media (--tablet-less) {
                justify-content: center;
            }
        }
	}
}