<div class="catalog-section g-section g-section_padding g-section_color_gray">
    <div class="catalog-section__content g-section__content">
        <div class="g-section__title">
            <div class="g-section__title__body">
                <div class="g-section__title__text">Популярные товары</div>
            </div>
        </div>
        <div class="catalog-section__body">
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
            <import module="tovar"></import>
        </div>
    </div>
</div>