.search{
	display: flex;
    justify-content: space-between;
    width: 100%;
    
    background-color: #fff;
    border: 1px solid #b9b9b9;
	// elements
	&__{
		&input{
            width: 100%;
            box-sizing: border-box;
            display: block;
            height: 32px;
            margin-left: 17px;
            border: none;
            background: none;
            
            color: #5b5b5b;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            outline: none;
        }
        &button{
            width: 40px;
            height: 32px;
            text-align: center;
            box-sizing: border-box;
            border: none;
            background: none;
            cursor: pointer;
        }
	}
    &_big &__input{
        height: 42px;
    }
    &_big &__button{
        height: 42px;
    }
}