<div class="advantages g-section">
    <div class="advantages__content g-section__content">
        <div class="advantages__item">
            <div class="advantages__icon"><i class="i-delivery"></i></div>
            <div class="advantages__text">Доставка по всей<br> России</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__icon"><i class="i-call"></i></div>
            <div class="advantages__text">Круглосуточный<br> колл- центр (24/7)</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__icon"><i class="i-nursery"></i></div>
            <div class="advantages__text">Собственный питомник<br> растений</div>
        </div>
        <div class="advantages__item">
            <div class="advantages__icon"><i class="i-100"></i></div>
            <div class="advantages__text">100% гарантия<br> качества</div>
        </div>
    </div>
</div>