.advantages{
    padding: 50px 0;
	background-color: #fff;
	// elements
	&__{
		&content{
            display: flex;
            justify-content: space-between;
            
            @media (--desktop-less) {
                flex-wrap: wrap;
            }
        }
        &item{
            display: flex;
            align-items: center;
            
            @media (--desktop-less) {
                flex: 1 50%;
            }
            @media (--tablet-only) {
                &:nth-last-child(2),
                &:last-child{
                    margin-top: 1rem;
                }
            }
            @media (--tablet-less) {
                flex: 1 1 100%;
                &:not(:last-child){
                    margin-top: 1rem;
                }
            }
        }
        &icon{
            margin-right: 17px;
        }
	}
}