.copyright{
	padding: 8px 0 4px;
	// elements
	&__{
		&content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &links{
            display: flex;
            
            @media (--tablet-less) {
                margin-top: .5rem;
            }
        }
        &link{
            display: block;
            text-decoration: none;
            
            &:not(:first-child){
                margin-left: 10px;
            }
        }
	}
}