<div class="copyright g-section">
    <div class="copyright__content g-section__content">
        <div class="copyright__text">Все права защищены © 2015.</div>
        <div class="copyright__links">
            <a href="#" class="copyright__link">
                <img src=":88x30" alt="">
            </a>
            <a href="#" class="copyright__link">
                <img src=":88x30" alt="">
            </a>
        </div>
    </div>
</div>