<div class="pagination">
    <div class="pagination__body">
        <a href="#" class="pagination__link _active">1</a>
        <a href="#" class="pagination__link">2</a>
        <a href="#" class="pagination__link">3</a>
        <a href="#" class="pagination__link">4</a>
    </div>
</div>