.pagination{
    margin: 15px 0;
	text-align: center;
	// elements
	&__{
        &body{
            display: flex;
            justify-content: center;
        }
		&link{
            display: block;
            width: 20px;
            margin: 0 3px;
            line-height: 20px;
            text-decoration: none;
            color: #000;
            &._active{
                font-weight: 700;
                color: #fff;
                background-color: #45b172;
            }
        }
	}
}